# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:BETTERWITHMODS <BETTERWITHMODS:BETTERWITHMODS.cfg>
    S:BONI <BONI:BONI.cfg>
    S:CKHBOX <CKHBOX:CKHBOX.cfg>
    S:CRAZYPANTS <CRAZYPANTS:CRAZYPANTS.cfg>
    S:DRZHARK <DRZHARK:DRZHARK.cfg>
    S:ELUCENT <ELUCENT:ELUCENT.cfg>
    S:FI <FI:FI.cfg>
    S:FIREHAZURD <FIREHAZURD:FIREHAZURD.cfg>
    S:FLAXBEARD <FLAXBEARD:FLAXBEARD.cfg>
    S:FORESTRY <FORESTRY:FORESTRY.cfg>
    S:GIRAFI <GIRAFI:GIRAFI.cfg>
    S:IMC <IMC:IMC.cfg>
    S:INVENTORYPETS <INVENTORYPETS:INVENTORYPETS.cfg>
    S:JOSHIE <JOSHIE:JOSHIE.cfg>
    S:LUMIEN <LUMIEN:LUMIEN.cfg>
    S:MEKANISM <MEKANISM:MEKANISM.cfg>
    S:MINECOLONIES <MINECOLONIES:MINECOLONIES.cfg>
    S:NOPPES <NOPPES:NOPPES.cfg>
    S:PROGWML6 <PROGWML6:PROGWML6.cfg>
    S:REPTILES <REPTILES:REPTILES.cfg>
    S:SHINOOW <SHINOOW:SHINOOW.cfg>
    S:SLIMEKNIGHTS <SLIMEKNIGHTS:SLIMEKNIGHTS.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:WAYOFTIME <WAYOFTIME:WAYOFTIME.cfg>
    S:WTF <WTF:WTF.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


